<!DOCTYPE html>
<html lang="zh-hant-tw">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="author" content="Bitify Chen ">
	<meta name="keywords" content="關鍵字1,關鍵字2">
	<meta name="description" content="描述句">
    {% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/favicon.png">
	<title>標題</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>

		

<body>
	<section class="main">
		<div id="menu"><div class="left-zone"><img src="{% static 'images/banner.png' %}" alt="banner"class="img-fluid"></div></div>
		<div class="right-zone">
			<form action="">
				<div class="form-title">
					<h4>Step1.我要捐款</h4>
				</div>
				<div class="form-box">
					<label for="">捐款項目<span>*</span></label>
					<select name="for" id="options">
						<option value="50years" selected="selected">資工系50週年活動</option>
					</select>
				</div>
				<div class="form-box">
					<label for="">捐款金額(新台幣)<span>*</span></label>
					<input oninput="money_way()" onpropertychange="money_way()"id="money"type="number"name="number" required="required"min="1"placeholder="請輸入您要捐款的金額">
				</div>
				<div class="form-box">
					<label for="">捐款方式<span>*</span></label></br>
					<input class="money-way" oninput="ShowName('1')" onpropertychange="ShowName('1')" type="radio" checked="checked" name="money-way" value="cash" /><span class="money-way-font">現金</span>
					<input class="money-way" oninput="ShowName('2')" onpropertychange="ShowName('2')" type="radio" name="money-way" value="check" /><span class="money-way-font">支票</span>
					<input class="money-way" oninput="ShowName('3')" onpropertychange="ShowName('3')"type="radio" name="money-way" value="money-transfer" /><span class="money-way-font">匯款</span>
					<input class="money-way" oninput="ShowName('4')" onpropertychange="ShowName('4')"type="radio" name="money-way" value="money-transfer" id="creditcard" /><span class="money-way-font" id="creditcard-name">信用卡</span>
					<div class="tac">
						<div class="remarks">
							<div id="remarks-deatil">請填完表單後，親至逢甲大學資工系系辦，將有專人為您處理。</div>
						</div>
					</div>
				</div>


			</form>
				<div class="form-button">
					<a href="../step2"><button>下一步</button></a>
				</div>
		</div>
	</section>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<script>
		 function money_way() {
            var money = document.getElementById("money").value;
          if (money > 9999){
            document.getElementById("creditcard").disabled = true;
            document.getElementById("creditcard-name").classList.add("creditcard-disable");
        	}
        	else{
        	document.getElementById("creditcard").disabled = false;
        	document.getElementById("creditcard-name").classList.remove("creditcard-disable")}
   		} 
   		function ShowName(x) {
   		var way = x ;
         if (way == 1){
         	document.getElementById("remarks-deatil").innerHTML='請填完表單後，親至逢甲大學資工系系辦，將有專人為您處理。';        
         	 }
        else if(way == 2){
        	document.getElementById("remarks-deatil").innerHTML='支票抬頭請註明「逢甲大學」，並請加註「禁止背書轉讓」字樣。';
        	}
        else if(way == 3){
        	document.getElementById("remarks-deatil").innerHTML='郵局帳號：「XXXXXX」，戶名：「XXXX」，並在備註填寫您的帳戶後五碼。';
        	}
        else if(way == 4){
        	document.getElementById("remarks-deatil").innerHTML='完成資料填寫後，將導至信用卡線上授權網頁。';
        	}
   		} 
	</script>
</body>
</html>